/* montserrat */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v23-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v23-latin-500.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v23-latin-600.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v23-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v23-latin-800.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-800.woff") format("woff");
}
/* montserrat-900 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/montserrat-v23-latin-900.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Trebuchet */

@font-face {
  font-family: "Trebuchet MS";
  src: url("../fonts/TrebuchetMS.woff2") format("woff2"),
    url("../fonts/TrebuchetMS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* HALLO SANS */

@font-face {
  font-family: "Hallo sans";
  src: url("../fonts/Hallosans-Black.woff2") format("woff2"),
    url("../fonts/Hallosans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hallo sans";
  src: url("../fonts/Hallosans-Light.woff2") format("woff2"),
    url("../fonts/Hallosans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hallo Sans";
  src: url("../fonts/HalloSans.woff2") format("woff2"),
    url("../fonts/HalloSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* EXO */
@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-Bold.woff2") format("woff2"),
    url("../fonts/Exo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-Black.woff2") format("woff2"),
    url("../fonts/Exo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-Light.woff2") format("woff2"),
    url("../fonts/Exo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-Medium.woff2") format("woff2"),
    url("../fonts/Exo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-Thin.woff2") format("woff2"),
    url("../fonts/Exo-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-Regular.woff2") format("woff2"),
    url("../fonts/Exo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-SemiBold.woff2") format("woff2"),
    url("../fonts/Exo-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* ubuntu-condensed */
@font-face {
  font-family: "Ubuntu Condensed";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/UbuntuCondensed-Regular.woff2") format("woff2"),
    url("../fonts/UbuntuCondensed-Regular.woff") format("woff");
}

/*CUSTOM PROPERTIES*/
:root {
  --Mont: "Montserrat", "Arial", sans-serif;
  --Treb: "Trebuchet MS", "Arial", sans-serif;
  --Hallo: "Hallo sans", "Arial", sans-serif;
  --Exo: "Exo", "Arial", sans-serif;
  --Ubuntu: "Ubuntu Condensed", "Arial", sans-serif;
}

/*WEB FONTS RELATED*/

/*GLOBAL STYLES*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--Mont);
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #191919;
}
.container {
  max-width: 1180px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
img {
  display: block;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.heading {
  font-family: var(--Exo);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2 !important;
}
.btn-primary {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  padding: 14px 28px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
}
.btn-primary:hover {
  background-color: #006d5b;
  border-color: transparent;
}
/* HEADER */
.topbar {
  background-color: #006d5b;
  color: #fff;
}
.topbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}
.topbar__info {
  font-size: 15px;
  white-space: nowrap;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.topbar__list {
  display: flex;
  align-items: center;
}
.topbar__item {
  display: flex;
  align-items: center;
}

.topbar__item:hover {
  background-color: #05806b;
}
.topbar__link {
  font-family: var(--Treb);
  white-space: nowrap;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  padding: 15px;
  position: relative;
}
.topbar__item > div {
  margin-right: 15px;
}
.topbar__number {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  margin-left: 6px;
}
.topbar__email {
  text-transform: lowercase;
}
.topbar__link--border::after {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #fff;
  display: block;
  position: absolute;
  right: 0;
  top: 18px;
}
.navbar {
  top: 70px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: all 0.3 ease;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ece9d8;
}
.sticky .nav__logo--img {
  filter: none;
}
.sticky .burger__btn {
  color: #000;
}
.sticky .menu__link {
  color: black;
}
.content {
  padding: 16px;
}
.sticky + .content {
  padding-top: 60px;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav__menu {
  display: flex;
  align-items: center;
}
.nav__logo--img {
  margin-right: 20px;
  width: 380px;
  height: 87px;
  object-fit: fill;
  filter: drop-shadow(1px 0px 12px #000);
}
.menu__link {
  font-size: 14px;
  white-space: nowrap;
  font-weight: bold;
  text-transform: uppercase;
}
.menu__item {
  padding: 8px 10px;
  cursor: pointer;
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 20px;
}
.menu__item:hover {
  background-color: #4f0269;
}
.menu__item:hover .menu__link {
  color: #fff;
}
.dropdown {
  background-color: #006d5b;
  width: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  box-shadow: 0px 2px 5px 0px rgb(125 140 159 / 46%);
}

.dropdown__link {
  color: #fff;
  display: block;
  line-height: 22px;
  font-family: var(--Hallo);
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  padding: 10px;
}

.dropdown__item:not(:last-child) {
  border-bottom: 1px solid #4c988c;
}

.dropdown__link:hover {
  background-color: #4f0269;
  color: #fff;
}

.menu__item:hover .dropdown {
  display: block;
  z-index: 999;
}

.dropdown__arrow {
  margin-left: 5px;
}

.menu__item--active {
  background-color: #4f0269;
}

.menu__item--active .menu__link {
  color: #fff;
}

.burger__btn {
  border: none;
  background-color: transparent;
  width: 44px;
  height: 44px;
  position: absolute;
  color: #fff;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  text-align: center;
  display: none;
}

/* Slider */
.hero .my-slider {
  height: 627px;
}

.slider__heading {
  font-size: 24px;
  font-weight: 700;
}
.slider__badge {
  background-color: rgba(0, 109, 91, 0.8);
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
}
.slider1 {
  width: 100%;
  position: relative;
  height: 100%;
  color: white;
}
.hero__slider--img {
  width: 100%;
  height: 627px;
}
.slider2 {
  width: 100%;
  position: relative;
  height: 100%;
  color: white;
}
.slider3 {
  width: 100%;
  position: relative;
  height: 100%;
  color: white;
}
.slider__info {
  max-width: 800px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.hero .tns-nav {
  position: absolute;
  width: 50px;
  height: 20px;
  margin-left: 20px;
  background-color: transparent;
  z-index: 99;
  color: rgb(189, 64, 64);
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 620px;
  left: 50%;
  transform: translateX(-70%);
}
.hero .tns-nav button {
  width: 12px;
  height: 12px;
  border-radius: 50% !important;
  border: none;
  background-color: rgb(80, 79, 79);
}

.hero .tns-nav .tns-nav-active {
  background: white !important;
}
.hero .tns-controls {
  position: absolute;
  z-index: 99;
  width: 100%;
  display: none;
  justify-content: space-between;
  top: 50%;
}

/* ABOUT_US */
.about {
  background-color: #197b6b;
  padding-top: 45px;
  padding-bottom: 45px;
  color: #fff;
}
.about__container {
  display: flex;
  justify-content: space-between;
}
.about__info {
  width: 684px;
  margin-right: 45px;
}
.about__service {
  margin-top: 60px;
  max-width: 456px;
}
.about__badge {
  padding: 5px 20px;
  border-radius: 3px;
  background-color: #4f0269;
  font-size: 13px;
  color: #fff;
  display: inline-block;
}
.about__btn {
  background-color: #4f0269;
  color: #fff;
  font-family: var(--Treb);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  margin-top: 10px;
}
.about__btn:hover {
  color: #000;
  background-color: #ffcc01;
}
.about__heading {
  margin-top: 26px;
  margin-bottom: 26px;
  line-height: 1.2;
  font-weight: 600;
  font-size: 1.5em;
  font-family: var(--Exo);
  text-transform: capitalize;
}
.about__text {
  font-size: 16px;
  line-height: 20px;
  font-family: var(--Treb);
}
.about__service h3 {
  margin-bottom: 3px;
  font-family: var(--Exo);
}

.about__item {
  display: flex;
  align-items: flex-start;
}
.about__img {
  margin-right: 20px;
  object-fit: fill;
}

/* AREA_STYLES */

.area {
  background: url("../images/pw_maze_white.png");
  padding-top: 45px;
  padding-bottom: 45px;
}
.area__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.area__heading {
  margin-bottom: 30px;
  text-align: center;
  color: #006d5b;
}
.area__card {
  width: 366px;
  height: 381px;
  position: relative;
  display: inline-block;
  z-index: 0;
}
.area__img {
  position: absolute;
  top: 0;
  z-index: -2;
  left: 0;
  object-fit: cover;
}
.area__btn {
  z-index: 2;
  position: absolute;
  padding: 10px;
  width: 260px;
  background: rgba(0, 109, 91, 0.8);
  margin-top: 280px;
  margin-left: 50px;
}
.area__link {
  padding: 10px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 25px;
  display: block;
  font-family: var(--Ubuntu);
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  z-index: 1;
  display: none;
  background-color: rgba(79, 2, 105, 0.3);
}

.area__card:hover .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.area__card:hover .area__btn {
  background-color: rgba(255, 230, 88, 0.9);
}
.area__card:hover .area__link {
  color: #4f0269;
  border-color: #4f0269;
}

/* TRUSTEES */
.trustees {
  background: #197b6b;
  padding-top: 45px;
  padding-bottom: 45px;
  position: relative;
}
.trustees__heading {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.trustees__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.trustees .tns-outer {
  max-width: 1170px;
  margin-left: 30px;
}

.trustees__slider {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.card {
  width: 100%;
  height: 327px;
}
.card__bottom {
  padding: 5px;
  background-color: #fff;
  width: 265px;
  font-family: var(--Exo);
}
.card__img {
  width: 265px;
  height: 270px;
}

.card__title {
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
.card__text {
  margin: 0;
  text-align: center;
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
}
.trustees .tns-nav {
  display: none;
}
.trustees .tns-controls {
  position: absolute;
  z-index: 99;
  top: 18%;
  right: 10.5%;
}

.trustees .tns-controls button:first-child {
  width: 30px;
  height: 30px;
  border: none;
  background-image: url("../images/iconmonstr-arrow-64.svg");
  background-color: #4f0269;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 5px;
  color: #fff;
}
.trustees .tns-controls button:last-child {
  width: 30px;
  height: 30px;
  background-image: url("../images/iconmonstr-arrow-25.svg");
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: #4f0269;
}
.trustees .tns-controls button:hover {
  background-color: #ffcc01;
}
/* NEWS_SECTION */

.news {
  background-color: #f1f4f9;
  padding-top: 45px;
  padding-bottom: 45px;
}
.news__heading {
  color: #006d5b;
  text-align: center;
  margin-bottom: 30px;
}
.news__cards {
  display: flex;
  justify-content: space-between;
}
.news__card {
  width: 365px;
  background-color: #fff;
  position: relative;
  font-family: var(--Treb);
}
.card__info {
  padding: 15px;
}
.news__badge {
  width: 67px;
  position: absolute;
  top: 170px;
  left: 10px;
  background-color: #4f0269;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.card__heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  margin-bottom: 3px;
  font-family: var(--Ubuntu);
  white-space: nowrap;
}
.card__decr {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 20px;
}
.news__btn {
  background-color: #4f0269;
  font-size: 16px;
  padding: 6px 12px;
  border: none;
  text-transform: uppercase;
}
.news__btn:hover {
  background-color: #006d5b;
  border: none;
}

/* FOOTER_STYLE */
.footer {
  color: #fff;
}
.top__footer {
  background-color: #006d5b;
  padding-top: 40px;
  padding-bottom: 40px;
}

.top__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__info {
  width: 250px;
}
.footer__info--decr {
  font-family: var(--Treb);
  text-align: center;
  margin: 0;
  margin-top: 9px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.footer__info--img {
  object-fit: contain;
  filter: drop-shadow(1px 0px 12px #000);
}
.footer__menu_item {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-family: var(--Treb);
}
.footer__menu_item:not(:last-child) {
  border-bottom: 1px dotted #4c988c;
}
.footer__menu_link {
  margin-left: 10px;
}
.footer__menu_link:hover {
  color: gold;
}
.footer__news {
  width: 300px;
}
.footer__new_info {
  margin-left: 10px;
}
.footer__new_item {
  position: relative;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}
.footer__new_info p {
  font-family: var(--Exo);
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.footer__new_info:hover.footer__new_info a {
  color: rgb(255, 204, 1);
}

.footer__overlay {
  position: absolute;
  top: 7px;
  left: 0;
  width: 75px;
  height: 80px;
  font-size: 18px;
  z-index: 1;
  display: none;
  background-color: rgba(79, 2, 105, 0.3);
}

.footer__new_item:hover .footer__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__new_info span {
  margin: 0;
  font-family: var(--Treb);
  font-weight: 400;
  font-size: 15px;
}

.footer__contact {
  width: 300px;
  font-family: var(--Treb);
}
.footer__contact li {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}
.footer__contact div {
  display: flex;
  align-items: center;
}
.footer__contact span {
  margin-left: 23px;
}
.footer__contact b {
  font-weight: 700;
  font-family: var(--Exo);
}
.contact__icon {
  margin-right: 10px;
}
.footer__contact a:hover {
  color: gold;
}
.footer h2 {
  font-size: 24px;
  font-family: var(--Exo);
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;
}
.footer h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #fff;
  margin-top: 3px;
}
.footer__contact-number {
  margin-left: 30px;
}
.footer__contact-brands {
  display: flex;
  align-items: center;
}
.footer__brands {
  display: flex;
  align-items: center;
}
.footer__brand-text {
  margin-bottom: 0;
  margin-right: 10px;
}
.footer__brand {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__brand:hover {
  color: #fff !important;
}
.brand__facebook {
  background-color: rgb(60, 89, 125);
  margin-right: 5px;
}
.brand__twitter {
  background-color: #54aced;
  margin-right: 5px;
}
.brand__linkedin {
  background-color: #0976b4;
  margin-right: 5px;
}
.brand__youtube {
  background-color: #ff0000;
}
.right__arrow {
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  box-shadow: inset 0 0 1px #000;
}
.bottom__footer {
  background-color: #005748;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: var(--Treb);
}

.bottom__footer p {
  margin: 0;
}
.bottom__footer b {
  font-weight: 700;
  font-family: var(--Mont);
}
.footer__bottom_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom__footer a:hover {
  color: gold;
}
/* BLOCK_STYLES */
.block {
  display: block !important;
}

/* Responsive */
@media only screen and (max-width: 1235px) {
  .news__card {
    width: 350px;
  }
  .news__img {
    width: 350px;
  }
  .card__bottom {
    width: 290px;
  }
  .card__img {
    width: 290px;
  }
}
@media only screen and (max-width: 1155px) {
  .area__card {
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .area__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .top__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__info {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .footer__menu {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1115px) {
  .footer__info {
    width: 45%;
  }
  .footer__info--img {
    margin: 0 auto;
  }
  .footer__menu {
    width: 45%;
  }
  .footer__contact {
    width: 45%;
  }
  .footer__news {
    width: 45%;
  }
}
@media only screen and (max-width: 1110px) {
  .news__cards {
    flex-wrap: wrap;
    margin-left: -30px;
    justify-content: center;
  }
  .news__card {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .footer__info {
    width: 500px;
  }
}

@media only screen and (max-width: 1080px) {
  .burger__btn {
    display: block;
  }

  .nav {
    width: 100%;
    padding: 20px;
    background-color: #05806b;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
  }
  .menu__item {
    display: block;
    width: 100%;
  }
  .nav__menu {
    flex-direction: column;
  }
  .footer__bottom_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width: 980px) {
  .card__bottom {
    width: 350px;
  }
  .card__img {
    width: 350px;
  }
  .topbar__number {
    display: none;
  }
}

@media only screen and (max-width: 880px) {
  .sticky {
    top: 0 !important;
  }

  .slider__heading {
    font-size: 20px;
  }
  .about__container {
    flex-direction: column;
  }
  .about__info {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .about__service {
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px) {
  .area__card {
    margin-bottom: 30px;
    margin-right: 0;
  }
}
@media only screen and (max-width: 770px) {
  .card__bottom {
    width: 300px;
  }
  .card__img {
    width: 300px;
  }
  .hero__slider--img {
    height: 331px;
  }
  .slider__info {
    background-color: #435060;
    width: 100%;
    padding: 40px 20px 80px;
    position: absolute;
    bottom: 0;
    margin-top: 180px;
    height: 325px;
  }
  .hero .tns-nav {
    top: 645px;
  }
}
@media only screen and (max-width: 700px) {
  .news__card {
    width: 450px;
  }
  .news__img {
    width: 450px;
  }
}

@media only screen and (max-width: 650px) {
  .card__bottom {
    width: 270px;
  }
  .card__img {
    width: 270px;
  }
  .trustees .tns-nav {
    bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  .topbar__info {
    font-size: 12px;
  }
  .hero .tns-controls {
    top: 65%;
  }

  .trustees .tns-outer {
    margin-left: 30px;
    margin-right: 30px;
  }
  .about__heading {
    font-size: 22px;
  }
  .top__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__info {
    margin-right: 0;
    width: 100%;
    justify-content: center;
  }
  .footer__info--img {
    margin: 0 auto;
  }
  .footer__menu {
    margin-right: 0;
    width: 100%;
  }
  .footer__news {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__contact {
    width: 100%;
  }
  /* .footer__new_item {
    flex-direction: column;
  } */
  .footer__new_info {
    margin-top: 20px;
  }
  .card {
    width: 100% !important;
  }
  .card__bottom {
    width: 255px;
  }
  .card__img {
    width: 255px;
  }
}
@media only screen and (max-width: 588px) {
  .card__bottom {
    width: 225px;
  }
  .card__img {
    width: 225px;
  }
  .nav__logo--img {
    width: 300px;
  }
}
@media only screen and (max-width: 544px) {
  .hero .tns-nav {
    bottom: 12%;
  }
  .trustees .tns-controls {
    right: 6%;
  }
  .card__bottom {
    width: 100%;
  }
  .card__img {
    width: 100%;
  }
  .news__card {
    width: 350px;
  }
  .news__img {
    width: 350px;
  }
}
@media only screen and (max-width: 480px) {
  .slider__heading {
    font-size: 16px;
  }
  .nav__logo--img {
    width: 280px;
    object-fit: contain;
    margin: 0;
  }
  .topbar__info {
    font-size: 10px;
    letter-spacing: 1;
  }
  .hero .tns-nav {
    bottom: 100px;
  }
  .about__item .about__text {
    width: 250px;
  }
}
@media only screen and (max-width: 400px) {
  .area__card {
    width: 300px !important;
    margin-right: 0;
  }
  .area__img {
    width: 300px;
  }
  .area__btn {
    margin-left: 20px;
  }
  .trustees__heading {
    font-size: 28px;
  }

  .trustees .tns-controls {
    top: 95px;
  }
  .news__card {
    width: 320px;
  }
  .news__img {
    width: 320px;
  }
}
